.c1 {
    background: #1F2937;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
 }
.c1 h1, h2 {
    color: #F9FAF8;
}
.c1 h1 {
    font-weight: 800;
    font-size: 48px;
}
.c1 h2 {
    font-size: 24px;
}
.c1 .sub-text, .image-placeholder {
    font-size: 18px;
    color: #E5E7EB;
}
.image-placeholder {
    background: grey;
    padding: 24px;
    color: #F9FAF8;
}
.sign-up {
    background: #3882F6;
    color:#F9FAF8;
    border: 1px solid #3882F6;
    font-size: 18px;
    font-weight: 800;
}
button {
    padding: 8px 16px;
    border-radius: 8px;
}
.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}
body {
    display: flex;
    flex-direction: column;
}
/* Begin Flex arrangment of c1 */
.c1 {
    display:flex;
    flex-direction: column;
    padding: 0 20%;
}
.header {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom: 75px;
}
.c1 .content {
    display:flex;
    gap: 32px;
    padding-bottom: 75px;
}
.content2 {
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: flex-start;
}
.image-placeholder {
    flex:1;
}